* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: #c1a5d3;
}

header {
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  box-shadow: 1px 1px 2px #000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #c1a5d3;
  z-index: 1;
  gap: 1.5rem;
}

nav {
  display: flex;
  font-size: .7rem;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
  top: 5px;
  filter: drop-shadow(0 0 1px #0008);
}

nav a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-family: "Merriweather Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: .9rem;
}

.current-page {
  text-decoration: underline;
  text-decoration-color: #1600a7;
  text-underline-offset: 0.2em;
}

img.harv {
  filter: drop-shadow(0 0 2px #000);
  height: 60dvh;
}

.cookie-regular {
  font-family: "Cookie", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #fc59ab;
  text-shadow: 1px 1px 2px #100170;
}

section {
  scroll-snap-align: start;
  height: calc(100dvh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main {
  margin-top:4rem;
  height: calc(100dvh - 4rem);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow: scroll;
}

section:nth-of-type(2) {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -115 100 230"><path d="M -50 -70 C -26 -60 44 -81 50 -70 L 50 70 C 18 55 -35 86 -50 70 L -50 -70" fill="rgb(55, 195, 184)" /></svg>'), #c1a5d3;
  background-repeat: no-repeat;
  background-size: 100% auto; /* Width 100%, height auto */
  background-position: center;
}

.birthday {
  font-family: "Atma", serif;
  -webkit-text-stroke: 2px navy;
  color: dodgerblue;
  transform: rotate(-3deg);
  animation: wiggle-and-grow 2s infinite;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  padding: 20px 45px;
  filter: drop-shadow(2px 2px 2px #0008);
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-115 -50 330 100"><path d="M -110 25 C -115 25 -99 7 -95 3 C -101 -1 -113 -20 -110 -20 C -114 -24 118 -24 110 -20 C 115 -21 101 -2 95 3 C 102 8 115 25 110 25 C 34 20 -20 20 -110 25" fill="rgb(55,195,184)" /></svg> ') 0 / auto 100%;
}

@keyframes wiggle-and-grow {
  0% {
    transform: rotate(-3deg) scale(1);
    filter: drop-shadow(2px 2px 2px #0008);
  }
  50% {
    transform: rotate(3deg) scale(1.05);
    filter: drop-shadow(4px 4px 2px #0008);
  }
  100% {
    transform: rotate(-3deg) scale(1);
    filter: drop-shadow(2px 2px 2px #0008);
  }
}

.balloon {
  z-index: 1;
  fill: yellow;
}

.birthday-details {
  display: flex;
  flex-direction: column;
}

.dynapuff-400 {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: hotpink;
  font-size: 2.8rem;
  text-shadow: 1px 1px 1px #fc59ab;
  transform: rotate(-2deg);
  margin-bottom: 1.5rem;
}

.dynapuff-400 span {
  color: #f5cb03;
  text-shadow: 1px 1px 1px rgb(55,195,184);
}

.date {
  display: flex;
  font-family: "Delius Swash Caps", serif;
  font-weight: 400;
  font-style: normal;
  color: navy;
  font-size: 1.3rem;
}

.date h3 {
  background-color: hotpink;
  border-radius: 50%;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  transform: skew(3deg, 3deg);
}

.date h3 span {
  transform: skew(-3deg, -3deg);
}

.date h3:first-of-type {
  margin-right: 1rem;
}

.date h3:last-of-type {
  margin-left: 1rem;
}

.details-text {
  font-family: "Delius Swash Caps", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  padding: 2rem;
  margin-top: 1rem;
}

.date h3:nth-of-type(1) {
  animation: grow-shrink 3s infinite;
  animation-delay: 0;
}
.date h3:nth-of-type(2) {
  animation: grow-shrink 3s infinite;
  animation-delay: .5s;
}
.date h3:nth-of-type(3) {
  animation: grow-shrink 3s infinite;
  animation-delay: 1s;
}
.date h3:nth-of-type(4) {
  animation: grow-shrink 3s infinite;
  animation-delay: 1.5s;
}

@keyframes grow-shrink {
  20% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  80% {
    transform: scale(1);
  }
}

.rsvp {
  margin-top: 1rem;
  text-decoration: none;
  padding: 25px 50px;
  background-color: rgb(55,195,184);
  border-radius: 50px;
  color: white;
  font-size: 1.35rem;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  box-shadow: 2px 2px 2px #0008;
}

#harv1 {
  position: absolute;
  right: -90px;
  bottom: -70px;
  transform: rotate(-20deg) rotateY(180deg);
  animation: hide-right 5s infinite;
  animation-delay: 2.5s;
}

#harv1 img, #harv2 img {
  width: 200px;
}

#harv2 {
  position: absolute;
  left: -250px;
  bottom: -70px;
  transform: rotate(20deg);
  animation: hide-left 5s infinite;
  animation-delay: 2.5s;
}

.invisible {
  display: none;
}

#at {
  animation: none;
  background-color: initial;
}

@keyframes hide-right {
  0% {
    right: -90px;
  }
  40%, 60% {
    right: -250px;
  }
  100% {
    right: -90px;
  }
}

@keyframes hide-left {
  0%, 10% {
    left: -250px;
  }
  50% {
    left: -90px;
  }
  90%, 100% {
    left: -250px;
  }
}

#hat1 {
  position: absolute;
  right: 48px;
  top: -65px;
  height: 92px;
  width: 45px;
  transform: rotate(8deg);
}

#hat2 {
  position: absolute;
  left: 105px;
  top: -62px;
  height: 92px;
  width: 45px;
  transform: rotate(8deg);
}

#location {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.place-name {
  font-size: 1.75rem;
  color: navy;
  font-weight: bold;
  box-shadow: 0 0px navy;
  /* animation: click-me 2s infinite; */
}

@keyframes click-me {
  0% {
  box-shadow: 0 0px navy;
  opacity: .5;
  filter: drop-shadow(0 0 1px #0008);

  }
  50% {
  opacity: 1;
  transform: scale(1.05);
  filter: drop-shadow(1px 1px 2px #0008);
  }
  100% {
  box-shadow: 0 0px navy;
  opacity: .5;
  filter: drop-shadow(0 0 1px #0008);
  }
}

#location .map-link {
  width: 100%;
  margin-inline: auto;
}

#location .map {
  position: relative;
  background-image: url('../images/cafe_map.webp');
  box-shadow: 0 0 8px 8px rgb(55, 195, 184) inset;
  width: 90%;
  aspect-ratio: 1/1;
  background-size: contain;
  margin: auto;
  margin-block: .5rem;

}

#location h2 {
  margin-bottom: .5rem;
}

.address {
  font-size: 1.2rem;
  color: hotpink;
  text-shadow: 0 0 1px #0008;
  padding-inline: 1rem;
  text-align: center;
}

.map-pin {
  width: 9%;
  position: absolute;
  filter: drop-shadow(0 0 1px darkred);
  top: 26%;
  right: 12%;
  animation: drop-pin 2s infinite;
}

@keyframes drop-pin {
  0% {
    top: 22%;
    transform: scale(1.1);
  }
  45%, 55% {
    top: 26%;
    transform: scale(1);
  }
  100% {
    top: 22%;
    transform: scale(1.1);
  }
}

.harv-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.harv-container svg {
  position: absolute;
  z-index: 1;
  bottom: 87%;
  right: 27%;
  width: 25%;
  height: auto;
}

.balloon-container {
  position: absolute;
  top: 3%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.balloon-container svg {
  position: absolute;
  top: 100px;
  left: 5%;
}

.balloon.yellow {
  width: 20%;
  aspect-ratio: 1/2.6;
  position: absolute;
  top: 11dvh;
  left: 12%;
  transform: rotate(-15deg);
  animation: float-yellow 6s infinite;
  animation-delay: 3s;
}

.balloon.blue {
  width: 20%;
  aspect-ratio: 1/2.6;
  position: absolute;
  top: 4dvh;
  right: 3%;
  transform: rotate(5deg) rotateY(180deg);
  animation: float-blue 6s infinite;
}

@keyframes float-yellow {
  0% {
    transform: translateY(0) rotate(-10deg);
  }
  50% {
    transform: translateY(-15px) rotate(-15deg);
  }
  100% {
    transform: translateY(0) rotate(-10deg);
  }
}
@keyframes float-blue {
  0% {
    transform: translateY(10px) rotate(5deg) rotateY(180deg);
  }
  50% {
    transform: translateY(-10px) rotate(10deg) rotateY(180deg);
  }
  100% {
    transform: translateY(10px) rotate(5deg) rotateY(180deg);
  }
}