.party-hat .hat {
  fill: #fccd0f;
}
.party-hat .stripe {
  stroke: rgb(246, 122, 13);
  stroke-width: 3;
  fill: none;
}
.party-hat .puff {
  stroke: turquoise;
  stroke-width: 5;
  stroke-linecap: round;
  fill: none;
}

.pupil {
  animation: shift 6s infinite;
}

@keyframes shift {
  0%, 20% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateX(6px);
  }
  80%, 100% {
    transform: translateY(0);
  }
}